<div class="container">
  <div class="row pb-5">
    <div class="col-sm-8">
      <p>I have recently started to learn
      <%= link_to 'OpenGL', 'https://en.wikipedia.org/wiki/OpenGL' %>
      and will eventually learn Vulkan, so that I can
      render my own 3D graphics using my graphics card. </p>

      <p>I have also played around with
      <%= link_to 'Blender', 'https://www.blender.org/' %>
      , as I have always been interested in animation and have
      an appreciation for animation and visual effects. I want
      to be able to create my own models to use in game development
      and animation. </p>
    </div>

    <div class="col">
      <%= image_tag 'bird', class: "img-fluid" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 text-center">
      <%= image_tag 'bollywoodRealism', class: "img-fluid" %>
    </div>

    <div class="col pt-2">
      <p>I have also started to learn about game physics, as they
      imitate real life and once I learn them I can integrate that
      knowledge into game development and graphics simulations that
      can be both realistic and funky, like in bollywood films. </p>
      <p>Lastly, I want to learn Hindi/Punjabi, so that I can have deeper
      and more meaningful conversations with my parents and grandparents.
      It will be cool to learn about my parents roots and the
      history of India. </p>

      <p>Learning is a big part of my life. I take everything and everyday as a learning experience.
      When I want to know how something works, I go out and learn.</p>
    </div>

  </div>
</div>
