<div class="white-text">
  <div class="image-right">
    <p><%= image_tag('bird') %>I have recently started to learn
    <%= link_to 'OpenGL', 'https://en.wikipedia.org/wiki/OpenGL' %>
    and will eventually learn Vulkan, so that I can
    render my own 3D graphics using my graphics card. </p>

    <p>I have also played around with
    <%= link_to 'Blender', 'https://www.blender.org/' %>
    , as I have always been interested in animation and have
    an appreciation for animation and visual effects. I want
    to be able to create my own models to use in game development
    and animation. </p>
  </div>
  <div class="image-left">
    <p><%= image_tag('bollywoodRealism') %>
    I have also started to learn about game physics, as they
    imitate real life and once I learn them I can integrate that
    knowledge into game development and graphics simulations that
    can be both realistic and funky, like in bollywood films. </p>
    <p>Lastly, I want to learn Hindi/Punjabi, so that I can have deeper
    and more meaningful conversations with my parents and grandparents.
    It will be cool to learn about my parents roots and the
    history of India. </p>

    <p>Learning is a big part of my life. I call myself an idiot many
    times a day, but that is ok because I continue to learn to become
    less of an idiot. I take everything and everyday as a learning experience.
    When I want to know how something works, I go out and learn. </p>
  </div>

</div>
