<div class="container">
  <div class="row pb-5">
    <div class="col-sm-8">
      <h2>Challenges</h2>
      <p>I love challenges, whether it be programming, basketball, or video games.
      I love a good challenge and can be pretty competitive. </p>
      <h2>Problem solving</h2>
      <p>I also love solving problems. It is satisfying when everything clicks.
      Like trying to solve a hard math problem. Once you learn and figure out
      how to do it, it is satisfying to see something work and also make sense.</p>
    </div>

    <div class="col">
      <%= image_tag 'thinking', class: "img-fluid" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <%= image_tag 'parents', class: "img-fluid" %>
    </div>

    <div class="col pt-2">
      <h2>Virtual sandbox</h2>
      <p>All you need is a computer and you can make anything! Once you learn a language,
         it becomes much easier to learn other languages and make cool things in other fields.</p>
      <h2>My parents</h2>
      <p>My parents have been through tough times, from living in the village in
        India to immigrating to Canada.  They came here to give me and my siblings a chance at a better
        life and education. I am truly grateful and cannot thank them enough, as I have not come close to
        the amount of challenges that they have faced. All for me to be able to learn and do what I am
        passionate about. It is my time to give back.</p>
      <p>I would also like to thank my family, cousins, and friends for their amazing support, as I would
        not have been able to come this far without.</p>
    </div>
  </div>
</div>
