<%= javascript_include_tag params[:controller] %>
<div class="container-fluid center jumbotron">
  <%= video_tag "typing.mp4", autoplay: :autoplay, muted: true, id: "typing-video", class: "img-responsive center-block" %>
  <h1 class="display-3" id="intro-text">  </h1>
</div>
