<div class="row col-xs-11">
  <% 4.times do |c|%>
    <div class="piece big-font col-xs-3" draggable="true" ondragstart="drag(event)" ondrop="return false;">
      <!--<%="\u23FA"%>-->
      &#9679;
    </div>
  <% end %>
</div>
