<div class="center jumbotron">
  <h1>Mastermind <%="\u263b"%></h1>
</div>
<div id="leftPanel" class="col-xs-4">
  <div id="colors" class="col-xs-10 align-self-center">
    <% 3.times do %>
      <%= render 'color_row' %>
    <% end %>
  </div>
</div>
<div id="board" class="col-xs-4">
  <% 12.times do %>
    <%= render 'row' %>
  <% end %>
</div>
<div class="col-xs-4">
</div>
