<div class="center jumbotron" onclick="checkGuess">
  <h1>Mastermind <%="\u263b"%></h1>
</div>
<div id="leftPanel" class="col-xs-4">
  <div id="colors" class="col-xs-10 align-self-center">
    <% 3.times do %>
      <%= render 'color_row' %>
    <% end %>
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-12">
     <button id="checkButton" onclick="checkGuess()">Check row </button>
     <div id="turnNumber"></div>
  </div>
</div>
<div id="board" class="col-xs-4" ondragover="allowDrop(event)">
  <% 12.times do |r| %>
    <span class="col-xs-1"><%=r+1%></span>
    <%= render 'row', r: r%>
  <% end %>
</div>
<div class="col-xs-4">
</div>
