<% provide(:title, "3D Painter") %>
<%= javascript_include_tag params[:controller] %>

<div class="center jumbotron">
  <h1>3D Painter</h1>
  <br> <br>
  <p>This page is under construction, game will be coming out soon!</p>
  <p>This will be a 3D version of the Paint.</p>
  <p>WebGL will be used.</p>
</div>

<canvas id="painter-canvas">
