<% provide(:title, "3D Painter") %>
<%= javascript_include_tag params[:controller] %>

<div class="center jumbotron">
  <h1>3D Painter</h1>
  <br> <br>
  <p>This page is under construction, game is a work in progress!</p>
  <p>Future plans are to have multiplayer features and be a 3D pictionary!</p>
</div>

<div class="row mx-0">
  <div class="col center mb-2">
    <canvas id="painter-canvas">
  </div>
</div>

<div class="row my-5 mx-0 px-5">
  <div class="col-12 center mb-3">
    Controls:
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="center mb-4">
      Mobile:
    </div>
    <p>1 finger (Tap OR Drag): Draw onto canvas</p>
    <p>2 fingers (Drag): Rotate camera around origin</p>
    <p>2 fingers (Pinch): Zoom in and out</p>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="center mb-4">
      Computer:
    </div>
    <p>Left Click on Mouse (Click OR Hold): Draw onto canvas</p>
    <p>Right Click on Mouse (Hold): Rotate camera around origin</p>
    <p>Mouse Wheel (Scroll): Zoom in and out</p>
    <p>'W' or 'S' Key (Press OR Hold): Move red guide grid back and forth from the camera</p>
    <!--
      <p>Alt AND Enter Key (Press): Enter and exit fullscreen (Escape key buggy when exiting)</p>
    -->
    <p>Space Bar (Press): Clear canvas</p>

  </div>
</div>
