<% provide(:title, "Guess Who") %>

<div class="center jumbotron ">
  <h1>Guess Who</h1>
  <br> <br>
  <p>This page is in the works, game will be coming out soon!</p>
  <p>This will be a 3D version of the game where you can play online with a friend.</p>
  <p>WebGL will be used.</p>
</div>
