<% provide(:title, "Mini-Reddit") %>

<%= render partial: 'mini_reddit_header' %>

<% store_location %>

<div class="col-md-10 col-md-offset-1  ">
  <% if @posts.any? %>
    <ol>
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts%>
  <% else %>
    There seems to be nothing here :(
  <% end %>
</div>
