#board {
  width: 450px;
  height: 800px;
  margin: auto;
  margin-bottom: 100px;
}

#colors {
  text-align: left;
}

.big-font {
  font-size: -webkit-xxx-large;
}

.piece {
  background-color: #BF8040;
  text-align: center;
}

.guess-indicator {
  display: inline-block;
}

.red {
  color: #FF0000;
}

.green {
  color: #00FF00;
}

.blue {
  color: #0000FF;
}

.yellow {
  color: #FFFF00;
}

.magenta {
  color: #FF00FF;
}

.cyan {
  color: #00FFFF;
}

button {
  align-self: center;
}
