#board {
  width: 450px;
  height: 800px;
  margin: auto;
  margin-top: 0;
  .row {
    margin: 0;
  }
}

#colors {
  text-align: left;
}

#correct-colors {
  .piece, span {
    background-color: transparent;
    padding-left: 0px;
  }
  .row {
    background-color: #bf8040;
    border-radius: 20px;
    padding-left: 0px;
    width: 275px;
  }
}

#turn-buttons {
  padding-top: 25px;
  padding-left: 0;
}

#turn-span {
  margin-top: 30px;
  border-radius: 20px 0 0 20px;
  height: 20px;
}

#turn-number {
  font-size: 40px;
}

#how-to-play-text {
  padding-left: 15px;
  font-size: 20px;

  &:hover {
    color: #9d9d9d;
  }
}
.col-background {
  padding: 0;
}

.colors-panel {
  height: 75px;
}

#leftPanel {
  .piece {
    padding: 0;
  }
}

#guess-panel {
  margin-top: 20px;
}

#instructions-text {
  padding-left: 15px;
  font-size: 16px;
}

#scroll-panel {
  //position: fixed; //have scrolling later?
  width: 300px;
}

.big-font {
  font-size: 100px;
}


.guess-font {
  font-size: 40px;
  height: 100px;
}

.piece, .example {
  background-color: #BF8040;
  text-align: center;
}

.guess-indicator {
  display: inline-block;
}

.red {
  color: #FF0000;
}

.green {
  color: #00FF00;
}

.blue {
  color: #0000FF;
}

.yellow {
  color: #FFFF00;
}

.magenta {
  color: #FF00FF;
}

.cyan {
  color: #00FFFF;
}

.black-text {
  color: #333;
}

.mastermind-btn {
  align-self: center;
  background-color: white;
  border-radius: 8px;
  border: none;
  color: black;
  font-size: 20px;
  margin: 10px 0px;
  width: 150px;
  &:hover {
    background-color: #9d9d9d;
  }
}
