.normal-btn {
  width: auto;
}

.post {
  background-color: #122935;
  border-radius: 20px;
  display: grid;
  margin: 10px 0;
  padding: 20px;

  .title {
    font-size: 20px;
  }
}

ol {
  padding-left: 0;
}
