.center {
  text-align: center;
}


.jumbotron {
  background-color: transparent;
}

body {
  img {
    border-radius: 20px;
  }
  margin-top: 60px;
  background-color: #0a0a0f;
}

.header-bg-unclear {
  background-color: #222;
  border-color: #090909;
}

.header-bg-clear {
  background-color: transparent;
  border-color: transparent;
}

#intro-typing {
  max-width: 100%;
  min-width: 1000px;
  transform: translateY(-20%);
}

#intro-text {
  position: absolute;
  left: 10%;
  top: 40%;
  min-width: 500px;
  width: 75%;
  text-align: center;
}

#typing-video {
  filter: blur(5px);
  transform: translateY(-15%);
  z-index: -1;
}

#about-me {
  #about-me-text {
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
  }
}

#languages {
  img {
    height: 100px;
    margin: 10px auto;
    width: auto;
  }
  .row {
    display: block;
  }
}

#projects {
  #project {
    display: inline-block;
    margin: 50px auto;
    p {
      margin-left: 30px;
    }
  }
}

#portfolio-github {
  img {
    float: unset;
    height: 150px;
  }
}

hr {
  border-top: 1px dotted #3b89cc;
  padding-bottom: 25px;
  width: 100%
}

#contact-me {
  #contact-options {
    display: inline-block;
    margin: auto 20px;
    vertical-align: middle;

    button {
      color: black;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #ccc;
      margin: 0;
    }

    button, input {
      height: 40px;
    }

    #github-link {
      img {
        height: 25px;
      }
    }

    #linkedIn-link {
      img {
        border-radius: 0;
      }
    }
  }
}

#smaller-projects {
  p {
    font-size: 16px;
    margin: 50px auto;
  }
  img {
    margin: 20px;
    height: 300px;
  }
}

.gray-background {
  img {
    background: darkslategray;
    border-radius: 5px;
  }
}
