.center {
  text-align: center;
}


body {
  img {
    border-radius: 20px;
  }
  margin-top: 50px;
  background-color: #0a0a0f;
}

.header-bg-unclear {
  background-color: #222;
  border-color: #090909;
}
/*
.header-bg-clear {
  background-color: transparent;
  border-color: transparent;
}
*/

#video-jumbotron {
  position: relative;
  height: 500px;
  overflow: hidden;
}

#intro-typing {
  position: relative;
  height: 50vh;
  min-height: 25rem;
  width: 100%;

  .container {
    position: relative;
    z-index: 2;
  }
}

#typing-video {
  filter: blur(5px);
  position: absolute;
  background-size: cover;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-40%);
  -moz-transform: translateX(-50%) translateY(-40%);
  -webkit-transform: translateX(-50%) translateY(-40%);
  transform: translateX(-50%) translateY(-40%);
}

/*
#intro-typing {
  max-width: 100%;
  transform: translateY(-20%);
}

#intro-text {
  position: absolute;
  left: 10%;
  top: 40%;

  width: 75%;
  text-align: center;
}

#typing-video {
  filter: blur(5px);
  transform: translateY(-15%);
  z-index: -1;
}*/

#about-me {
  #about-me-text {
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
  }
}

#languages {
  img {
    height: 100px;
    margin: 10px auto;
    width: auto;
  }
  .row {
    display: block;
  }
}

#projects {

  h2 {
    margin-top: 50px;
  }

  .carousel-inner {
    margin: auto;
    max-width: 1200px;

    img {
      border-radius: 0;
      min-height: 275px;
      max-height: 500px;
      height: 100%;
      width: 100%;
    }
  }

  .carousel-caption p {
    display: inline;
    border-radius: 5px;
    background-color: #444;
    padding: 5px;
    font-size: 20px;
  }
}

#portfolio-github {
  img {
    float: unset;
    height: 150px;
  }
}

hr {
  border-top: 1px dotted #3b89cc;
  padding-bottom: 25px;
  width: 100%
}

#contact-me {
  #contact-options {
    display: inline-block;
    margin: auto 20px;
    vertical-align: middle;

    button {
      color: black;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #ccc;
      margin: 0;
    }

    button, input {
      height: 40px;
    }

    #github-link {
      img {
        height: 25px;
      }
    }

    #linkedIn-link {
      img {
        border-radius: 0;
      }
    }
  }
}

#smaller-projects {
  p {
    font-size: 16px;
    margin: 50px auto;
  }
  img {
    margin: 20px;
    height: 300px;
  }
}

.gray-background {
  img {
    background: darkslategray;
    border-radius: 5px;
  }
}
